@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient{
  background: linear-gradient(90deg, #071837 0%, #1D4293 0%, #071837 100%);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}



.section {
  @apply py-10 lg:py-24 px-5 
}

.blur-post{
  background: #07183775;
}

.description:before{

  position:absolute;
  content:'';
  top:0;
  left:0;
  height:100%;
  width:2px;

}